# Исключаем папку Bitrix
bitrix/
# Логи и временные файлы
*.log
*.tmp
.tmp/
# Кеш
cache/
.cache/
# Файлы загрузок (могут быть большими)
upload/
# Системные файлы
.DS_Store
Thumbs.db
# IDE файлы
.idea/
.vscode/
*.swp
*.swo

# Логи
*.txt
log*.txt
*.log


# Большие логи (проблема GitHub)
local/components/messager/cian_messager/templates/desctop/logSendOut.txt
local/lib/classes/logCall.txt
local/components/messager/mcm/templates/desctop/logSendIn1.txt
local/components/messager/mcm/templates/desctop/logSendIn.txt
local/components/messager/mcm/templates/desctop/logSendInTg.txt
local/components/messager/mcm/templates/desctop/logSendOut.txt

