# Dependencies
node_modules/

# Build
.nuxt/
.output/
dist/

# Logs
*.log

# Environment
.env
.env.*
!.env.example
!.env.dev.example

# Cache
.cache/

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db
