*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
.cassoft-install-image {
  overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 0;
  padding: 0px;
}
.cassoft-install-image img{
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* Form Progress */
.progress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.btn_block {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
}

.notification_block {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
}

.notification {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notification-success {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
}

.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

.progress .bar {
    position: relative;
    width: 180px;
    height: 6px;
    margin: 0 -5px 17px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}

.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}

.progress .bar.active {
    background: linear-gradient(to right, #eee 40%, #fff 60%);
}

.progress .circle.done .label {
    color: #fff;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progress .circle.done .title {
    color: #444;
}

.progress .circle.active .label {
    color: #fff;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progress .circle.active .title {
    color: #0c95be;
}

.pulse {
    position: relative; // Нужно будет в будущем, для позиционирования эффекта
    text-align: center;

    border-radius: 50%; // Делаем икноку круглой
    background: #3D64FF;
    width: 40px;
    height: 40px;
}

.pulse::after,
.pulse::before {
    content: '';
    position: absolute;
    border: 2px solid #3D64FF;
    left: -10px;
    opacity: 0;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}

.pulse::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}